[submodule "themes/Nordic"]
	path = themes/Nordic
	url = https://github.com/EliverLara/Nordic.git
[submodule "icons/NordArc"]
	path = icons/NordArc
	url = https://github.com/robertovernina/NordArc.git
