[submodule "themes/Nordic"]
	path = themes/Nordic
	url = https://github.com/EliverLara/Nordic.git
[submodule "icons/NordArc"]
	path = icons/NordArc
	url = https://github.com/robertovernina/NordArc.git
[submodule "term/nord-gnome-terminal"]
	path = term/nord-gnome-terminal
	url = https://github.com/arcticicestudio/nord-gnome-terminal.git
